<aside>
  <div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">

      <li class="mt">
        <a  [routerLink]="['/companies-show']">
          <!-- <i class="fa fa-dashboard"></i> -->
          <span>companies show</span>
        </a>
      </li>
      <li>
        <a href="inbox.html">
          <!-- <i class="fa fa-envelope"></i> -->
          <span>Active Account </span>
          </a>
      </li>
      <li>
        <a href="google_maps.html">
          <!-- <i class="fa fa-map-marker"></i> -->
          <span>Orders </span>
          </a>
      </li>
      <li>
        <a href="google_maps.html">
          <!-- <i class="fa fa-map-marker"></i> -->
          <span>Prices </span>
          </a>
      </li>
      <li>
        <a href="google_maps.html">
          <!-- <i class="fa fa-map-marker"></i> -->
          <span>About </span>
          </a>
      </li>
      <li>
        <a href="google_maps.html">
          <!-- <i class="fa fa-map-marker"></i> -->
          <span>FAQ </span>
          </a>
      </li>
      <li>
        <a href="google_maps.html">
          <!-- <i class="fa fa-map-marker"></i> -->
          <span>Card </span>
          </a>
      </li>
    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>
